.myUlClass li
{
    padding: 10px 0px 10px 20px ;
}
.myUlClass li a {
   
    position: relative;
}
.myUlClass li a::after{
    content: "";
    width: 0%;
    border: 0px solid white;
    left: 8px;
    bottom: 0;
    position: absolute;
    height: 1px;
    transition: width 1s ,border 1s;
}
.myUlClass li a:hover::after{
    width: 70%;
    border: 1px solid white;
}
.header {
    background-attachment: fixed;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url("../images/hero-bg.jpg");

    background-size: cover;
    background-position: center;
    
    height: 100vh;
}
.brogress-barMe [aria-valuenow="80"] .progress-bar{
    width: 85%;
} 
.brogress-barMe [aria-valuenow="90"] .progress-bar{
    width: 90%;
} 
.border-botoomMe h3{
    position: relative;
}
.border-botoomMe h3::after{
    content: "";
    width: 20%;
    border: 1px solid #0078FF;
    position: absolute;
    bottom: -6px;
    left: 0;
}
.pFormMe{
    position: relative;
}
.pFormMe::after{
    content: "";
    width: 4%;
    border: 2px solid #0078FF;
    position: absolute;
    bottom: -13px;
    left: 48%;
}
.SERVICES i  {
 box-shadow: 0px 0px 0px 10px #0078FF;
 transition: 1s background-color,color 1s,box-shadow 1s ;

}
.Portofolio i  {
   
    box-shadow: 0px 0px 0px 3px #0078FF;
}
.focusout{
    overflow: hidden;
    max-width: 100%;
    
}
.myHover2 .focusout img{   
     
    transition: 1s all ;
   
}
.myHover2:hover img{
    transform: scale(1.5);
    
}
.SERVICES .myHover:hover i{
color: white;
background-color: #0078FF;
box-shadow: 0px 0px 0px 10px #d5d6d8;
}
.backBlue{
    position: sticky;
    background-image:linear-gradient(rgba(0, 81, 255, 0.4),rgba(0, 81, 255, 0.768)), url("../images/post-3.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.backBlue i{
    box-shadow: 0px 0px 0px 8px #CDE1F8;
    color: white;
}
img.width-33{
    width: 33px;
    height: 33px;
}
.myhome{
    height: 100vh;
    background-attachment: fixed;
    background-image:linear-gradient(rgba(0, 81, 255, 0.4),rgba(0, 81, 255, 0.768)), url("../images/overlay-bg.jpg");
   
}
.form{
    position: sticky;
    background-image:linear-gradient(rgba(0, 81, 255, 0.4),rgba(0, 81, 255, 0.768)), url("../images/overlay-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}
.backBlue2 i{
    box-shadow: 0px 0px 0px 3px #0078FF;
    color:#0078FF;
    transition: 1s all;
}
.backBlue2 li :hover {
    color: white;
    background-color: #0078FF;
    box-shadow: 0px 0px 0px 4px #d5d6d8;
    cursor: pointer;
}
.cart-cat p {
    font-size: 0.7rem;
}
p.Animation::after{
  content: "";
  animation: move-words 7s  infinite; 
}

@keyframes move-words
{
   0%{
        content: '';
   }
   5%{
    content:'De';
   }
   20%{
    content: 'Deve'
    
   }
   40%{
    content: 'Develo'
   }
   50%{
    content: 'Developer'
   
   }
60%{
    content: '';
}
70%{
content:'Des';
}
75%{
    content: 'Desig'  
}
80%{
content: 'Designe'
}
100%{
content: 'Designer';
}

}